* { box-sizing: border-box; }
body { margin: 0; }

.slideshow-container {
    max-width: 600px;
    position: relative;
    margin: auto;
}

.slide {
    position: relative;
    display: none;
}

.slide img {
    width: 100%;
    border-radius: 8px;
}

.caption {
    position: absolute;
    bottom: 200px;
    left: 50%;           /* 横中央 */
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap; /* 1行表示（改行させたいなら削除） */
    background: rgba(40, 63, 50, 0.548);
    color: rgb(106, 243, 151);
    -webkit-text-stroke: 0.5px rgb(38, 104, 38);
}

/* ドット（ページ送り） */
.dots {
    text-align: center;
    margin-top: 10px;
}
.dot {
    height: 15px;
    width: 15px;
    margin: 0 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}
.active {
    background-color: #717171;
}

/* フェードアニメーション */
.fade {
    animation: fade 2s;
}

@keyframes fade {
    from {opacity: 0.4;}
    to {opacity: 1;}
}
