.scroll-target {
  scroll-margin-top: 70px;
}

.service-modal {
  margin-top: 60px;
  padding: 0;
  background-size: cover;
  overflow: hidden;
  position: fixed;   /* または absolute */
  /* background: url("../images/stars-night-small.jpg") no-repeat center center; */
  background-color: white;
  background-size: cover;
  background-attachment: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

#shooting-stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* クリックを邪魔しない */
}

.modal-stars {
  position: relative;   /* ← 必須 */
  z-index: 600;         /* canvasより前に表示される */
}

.services {
  gap: 20px; /* カード間の余白 */
  margin: 30px 30px;
}

.service-card {
  background-color: rgba(255, 255, 255, 0.85);
  animation: floatCloud 3s ease-in-out infinite;
}

@keyframes floatCloud {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@media (min-width: 600px),
       (min-height: 700px) {
  .service-modal {
    background: url("../images/stars-night-big.jpg") no-repeat center center fixed;
  }
}